{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<div class="container content">
    {{ page.content }}
    <h2>Publications</h2>
    {% for year in publications | reverse %}
        <ul>
            <li>{{ year }}</li>
            <ul>
            {% for pub in publications[year] %}
                <li itemscope="http://schema.org/ScholarlyArticle">
                {% if pub.type == "phdthesis" %}
                <strong><span itemprop="name">{{pub.fields.title}}</span>.</strong> <em>{{pub.fields.author}}</em>. Ph.D thesis, {{pub.fields.school}}, ISBN: {{pub.fields.isbn}}
                {% endif %}
                {% if pub.type == "article" %}
                <strong><span itemprop="name">{{pub.fields.title}}</span>.</strong> <em>{{pub.fields.author}}</em>. In {{pub.fields.journal}}, {% if pub.fields.vol %} vol. {{pub.fields.vol}}, {% endif %} {%if pub.fields.num %} num. {{pub.fields.num}}, {% endif %}  {%if pub.fields.issn %} ISSN: {{pub.fields.issn}}, {% endif %} {%if pub.fields.pages %} pp. {{pub.fields.pages}},{% endif %} {%if pub.fields.doi %} <a href="http://dx.doi.org/{{pub.fields.doi}}">doi: {{pub.fields.doi}}</a>{% endif %}
                {% endif %}
                {% if pub.type == "inproceedings" %}
                <strong><span itemprop="name">{{pub.fields.title}}</span>.</strong> <em>{{pub.fields.author}}</em>. In {{pub.fields.booktitle}}, {% if pub.fields.vol %} vol. {{pub.fields.vol}}, {% endif %} {%if pub.fields.num %} num. {{pub.fields.num}}, {% endif %}  {%if pub.fields.isbn %} ISBN: {{pub.fields.isbn}}, {% endif %} {%if pub.fields.pages %} pp. {{pub.fields.pages}} {% endif %} {%if pub.fields.doi %} doi: {{pub.fields.doi}}.{% endif %} {%if pub.fields.editor %} Editor:{{pub.fields.editor}}. {%endif%} {%if pub.fields.publisher%} Publisher: {{pub.fields.publisher}}{%endif%}

                {% endif %}

                {% if pub.type == "inbook" %}
                <strong><span itemprop="name">{{pub.fields.title}}</span>.</strong> <em>{{pub.fields.author}}</em>. In {{pub.fields.title}}, {{pub.fields.chapter}}{% if pub.fields.vol %} vol. {{pub.fields.vol}}, {% endif %} {%if pub.fields.num %} num. {{pub.fields.num}}, {% endif %}  {%if pub.fields.isbn %} ISBN: {{pub.fields.isbn}}, {% endif %} {%if pub.fields.pages %} pp. {{pub.fields.pages}} {% endif %} {%if pub.fields.doi %} doi: {{pub.fields.doi}}.{% endif %} {%if pub.fields.address %}{{pub.fields.address}}{%endif%}

                {% endif %}

                </li>
            {% endfor %}
            </ul>
        </ul>
    {% endfor %}

</div>
{% endblock %}
